/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* hint! you have to contain the floated children elements. */

.logo {
	float: left;
}

.navigation {
  float: right;
}

.sidebar {
  float: left;
  width: 300px;
  height: 400px;
}

.main_content {
  float: left;
  width: 684px;
  height: 400px;
}

.footer {
  clear: both;
}

