/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.logo {
  float: left;
}

.navigation {
  float: right;

}

.sidebar {
  float: left;
  width: 300px;
  height: 116px;
}

.main_content:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* hint! you have to contain the floated children elements. */

.sub_content {
  float: right;
	width: 643px;
}
.sub_content_2 {
	float: right;
  width: 643px;
}

.footer {
  clear: both;
}
